$max-width: 630px;
$color-dark: #222;
$color-light: #ccc;
$color-mix: mix($color-light, $color-dark);
$icon-list-item-width: 90px;


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $color-dark;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  text-align: center;
}

svg {
  fill: currentColor;
  vertical-align: text-top;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
pre {
  margin: 0 0 24px;
}

pre,
code {
  color: $color-mix;
  font-family: "DejaVu Sans Mono", Menlo, Consolas, monospace;
}

pre {
  overflow: auto;
}


.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.hide-me-i-am-not-ready {
  visibility: hidden;
}

.container {
  margin: 0 auto;
  max-width: $max-width + 36px;
  padding: 0 18px;
}


.links {
  color: $color-mix;
  font-size: 0;
  margin: 12px auto;
}

.links-item {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
}

.links-link {
  padding: 9px;

  &:hover {
    color: $color-dark;
  }
}


.site-header {
  margin: 108px auto;
  padding: 0 18px;

  @media (max-width: 768px) {
    margin-bottom: 60px;
    margin-top: 60px;
  }
}

.site-title {
  font-family: inherit;
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  margin: 0;

  @media (max-width: 480px) {
    font-size: 24px;
  }
}

.site-title-nil {
  color: $color-light;
}

.site-description {
  color: $color-light;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  text-transform: lowercase;

  a {
    color: $color-dark;
  }

  @media (max-width: 480px) {
    font-size: 18px;
  }
}


.mode {
  color: $color-mix;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 12px;
  position: relative;
  z-index: 2000;
}

.mode-select {
  border-bottom: 2px solid $color-light;
  color: $color-dark;
  display: inline;
  margin-left: -2px;
  padding-left: 2px;
  position: relative;
  -webkit-tap-highlight-color: transparent;

  &.active {
    border-bottom-color: transparent;
  }
}

.mode-selected {
  cursor: pointer;
}

.mode-icon {
  height: 18px;
  width: 18px;
}

.mode-icon-chevron {
  color: $color-mix;
  margin-left: -4px;
  margin-right: -1px;
}

.mode-options {
  display: none;
  left: 50%;
  margin-left: -7px;
  margin-top: 2px;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  white-space: nowrap;

  .mode-select.active & {
    display: block;
  }
}

.mode-option {
  cursor: pointer;
  margin-top: 6px;
}

.mode-backdrop {
  background-color: rgba(#fff, .84);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .18s ease-out;
  z-index: 1000;

  &.fade-in {
    opacity: 1;
  }
}


.icon-list {
  font-weight: 300;
  margin: 0 auto 108px;
  max-width: $max-width;

  $i: floor($max-width / $icon-list-item-width);
  $loop: true;
  @while $loop {
    $breakpoint: $icon-list-item-width * $i - 1;
    $local-max-width: $icon-list-item-width * ($i - 1);
    @if $breakpoint < 320px {
      // break
      $loop: false;
    } @else {
      @media (max-width: $breakpoint) {
        max-width: $local-max-width;
      }
    }
    $i: $i - 1;
  }

  @media (max-width: 768px) {
    margin-bottom: 60px;
  }
}

.icon-list-item {
  float: left;
  position: relative;
  width: $icon-list-item-width;
}

.icon-list-link {
  display: block;
  padding: 21px 6px;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;

  .icon-list-item.active &,
  &:hover {
    background-color: rgba(#000, .03);
  }
}

.icon {
  display: block;
  height: 24px;
  margin: 0 auto 6px;
  width: 24px;
}

.icon-name {
  color: $color-light;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.dark,
  .icon-list-item:hover &,
  .icon-list-item.active & {
    color: $color-dark;
  }
}

.icon-code {
  border: 1px solid #aaa;
  bottom: -18px;
  box-shadow: 0 0 6px rgba(#000, .18);
  font-size: 12px;
  height: 36px;
  left: -50%;
  line-height: 18px;
  padding: 0 6px;
  position: absolute;
  resize: none;
  width: 200%;
  z-index: 1;

  &:focus {
    outline: 0;
  }
}


.usage {
  font-size: 15px;
  margin-bottom: 48px;
  margin-top: -24px;
  padding-top: 24px;
  text-align: left;

  a {
    font-weight: 600;
    text-decoration: underline;
  }
}

.usage-heading {
  color: $color-mix;
  font-size: 24px;
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  text-align: center;

  @media (max-width: 480px) {
    font-size: 18px;
    font-weight: 400;
  }
}

.usage-subheading {
  font-size: 18px;
  font-weight: 400;
  margin: 36px 0 12px;
}

