<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>nilicons</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/assets/css/site.css" />

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76561712-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body>

  <ul class="links container">
    <li class="links-item">
      <a class="links-link" href="#usage">Usage</a>
    </li>
    <li class="links-item">
      <a class="links-link" href="/sprite.svg" download>sprite.svg</a>
    </li>
    <li class="links-item">
      <a class="links-link" href="https://github.com/barepants/nilicons">GitHub</a>
    </li>
  </ul>

  <div class="site-header container">
    <h1 class="site-title"><span class="site-title-nil">nil</span>icons</h1>

    <div class="site-description">
      <a href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Zero</a>
      SVG Icons
    </div>
  </div>

  <div class="mode container">
    Click to
    <div class="mode-select">
      <span id="mode-selected" class="mode-selected"></span>
      <svg class="mode-icon mode-icon-chevron">
        <use xlink:href="#ni-chevron-down" />
      </svg>
    </div>
  </div>

  <ul class="icon-list clearfix">
    {% for icon in icons %}
      <li class="icon-list-item">
        <a class="icon-list-link" href="../svg/{{ icon }}.svg" download>
          <svg class="icon">
            <use xlink:href="#ni-{{ icon }}" />
          </svg>
          <div class="icon-name">{{ icon }}</div>
        </a>
      </li>
    {% endfor %}
  </ul>

  <div id="usage" class="usage container">
    <h2 class="usage-heading">Usage</h2>

    <h3 class="usage-subheading">Inline SVG</h3>
    <p>Just copy and paste SVG code to HTML:</p>
    <pre>
&lt;svg class="icon" ...&gt;
  &lt;path ... /&gt;
&lt;/svg&gt;</pre>

    <h3 class="usage-subheading">Inline SVG sprites</h3>
    <p>Load the SVG sprite using JavaScript:</p>
    <pre>
// With jQuery
$.get('/path/to/sprite.svg', function (data) {
  $(data.documentElement).hide().prependTo('body');
});

// Without jQuery
var request = new XMLHttpRequest();
request.open('GET', '/path/to/sprite.svg', true);
request.onload = function () {
  var div = '&lt;div style="display: none;"&gt;' + request.responseText + '&lt;/div&gt;';
  document.body.insertAdjacentHTML('afterbegin', div);
};
request.send();</pre>
    <p>And <code>&lt;use&gt;</code> it in HTML:</p>
    <pre>
&lt;svg class="icon" ...&gt;
  &lt;use xlink:href="#ni-ICONNAME" /&gt;
&lt;/svg&gt;</pre>

    <p>You can instead reference an external sprite like this:

      <pre>
&lt;svg class="icon" ...&gt;
  &lt;use xlink:href="<b>sprite.svg</b>#ni-ICONNAME" /&gt;
&lt;/svg&gt;</pre>

      <p>And use <a href="https://github.com/jonathantneal/svg4everybody">svg4everybody</a> to polyfill. But, <a href="https://github.com/jonathantneal/svg4everybody/issues/110">Safari has a problem</a> with it. You may just use an inline sprite and load it using JavaScript.</p>

    <h3 class="usage-subheading">Coloring and sizing</h3>
    <pre>
.icon {
  fill: pink; /* or fill: currentColor; */
  width: 24px;
  height: 24px;
}</pre>

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>
  <script>
    $.get('/sprite.svg', function (data) {
      $(data.documentElement).hide().prependTo('body');
    });
  </script>
  <script src="/assets/js/site.js"></script>

</body>
</html>
